@* <h3>ListingCard</h3> *@
@* *@
@* <table class="table table-light"> *@
@*     <thead class="table-primary"> *@
@*     <tr> *@
@*         <th>Id</th> *@
@*         <th>Listing Name</th> *@
@*         <th>Active Bookings</th> *@
@*         <th>Host Id</th> *@
@*         <th>Price</th> *@
@*         <th></th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var listing in HostListings) *@
@*     { *@
@*         <tr> *@
@*             <td>@listing.Id</td> *@
@*             <td>@listing.ListingName</td> *@
@*             <td> *@
@*                 <a href="@($"/HostMode/{HostId}/ManageBookings/{listing.Id}")" class="btn btn-outline-primary btn-sm mb-1"> *@
@*                     @HostActiveBookings.Where(b => b.ListingId == listing.Id).Count() Active Bookings *@
@*                 </a> *@
@*             </td> *@
@* *@
@*             <td>@listing.HostId</td> *@
@*             <td>@listing.Price</td> *@
@*             <td> *@
@*                 <a href="@($"/HostMode/{HostId}/EditListing/{listing.Id}")" class="btn btn-outline-primary btn-sm mb-1"> *@
@*                     Edit Listing *@
@*                 </a> *@
@*             </td> *@
@*         </tr> *@
@*     } *@
@*     </tbody> *@
@* *@
@* </table> *@
@* *@
@* $1$ <div class="col"> #1# *@
@* $1$      #1# *@
@* $1$     <div> #1# *@
@* $1$         @Listing.Id #1# *@
@* $1$     </div> #1# *@
@* $1$      #1# *@
@* $1$     <div> #1# *@
@* $1$         @Listing.HostId #1# *@
@* $1$     </div> #1# *@
@* $1$      #1# *@
@* $1$     <div> #1# *@
@* $1$         @Listing.ListingName #1# *@
@* $1$     </div> #1# *@
@* $1$      #1# *@
@* $1$     <div> #1# *@
@* $1$         @Listing.Price #1# *@
@* $1$     </div> #1# *@
@* $1$ #1# *@
@* $1$     <div> #1# *@
@* $1$         <a href="@($"/HostMode/{HostId}/EditListing/{Listing.Id}")" class="btn btn-outline-primary btn-sm mb-1"> #1# *@
@* $1$                 Edit Listing #1# *@
@* $1$         </a> #1# *@
@* $1$     </div> #1# *@
@* $1$ </div> #1# *@